// out: ./css/chess.css, sourcemap: true, compress: true
@import "./css/variables.less";
@import "./css/buttons.less";

body{
  background-color: #4A525A;
}


h1{
  color:white;
  font-family: sans-serif;
}

p{

}


#ChessBoard{

  width: @boardSize;
  height:@boardSize;

  background-color: @board-base-colour;
}

.btn{
  margin-top:20px;
font-family: sans-serif;
text-decoration: none;
}

@square-size: calc(@boardSize / 8);

.grid{

  float:left;
  width:@square-size;
  height:@square-size;
  .piece{
    width:@square-size;
    height:@square-size;
  }



  &.white{
    background-color: white;
  }
  &.black{
    background-color: #aaa;
  }
}
